#imlnb {

	width: 300px;
	min-height: 46px;

	position: fixed;
	top: 10px;
	left: calc(100% - 310px);

	color: white;
	background-color: #6e71d3;
	border-radius: 5px;
	opacity: .8;

	z-index: 5000;
}

#imlnb DIV.imlnbIcon {

	position: absolute;
	left: 10px;
	top: 10px;

	width: 16px;
	height: 16px;

	padding: 5px;
	border-radius: 100px;

	background-color: #ffffff;
}

#imlnb DIV.imlnbContent {
	padding-top: 15px;
	padding-left: 45px;
	margin-bottom: 15px;
	
	font: normal 14px Verdana;
}